services:
  web:
    build:
      context: .
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    container_name: fncd_capital_frontend

  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3333:3333"
    env_file:
      - ./server/.env
    restart: always
    container_name: fncd_capital_backend
